/********** Template CSS **********/
:root {
    --primario: #04A3A7;
    --secundario: #005062;
    --terciario: #016A6A;
    --cuatro: #FAC841;
    --cinco: #88C9A1;
    --seis: #FF7F7F;
    --white: #f0f0f0;
    --light: #EEF9FF;
    --dark: #505050;
    --sales: #f5d894;
    --huincacara: #347132;
    --espuma15: #8CC6DA;
    --fondo: #FFF9D6;
}

